@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(231, 231, 231);
}

/*Layout*/
header#area-cabecalho{
    background-color: #f7b600;
    padding: 15px;
    text-align: center; 
}

h1#area-logo, #area-menu{
    padding: 10px;

}

/*Formatação em geral*/
h1#area-logo{
    color: #4e4e4e;
    font-size: 2.5em;
}

.branco{
    color: white;
}

/*Formatação do menu*/


a{
    color:white;
    text-decoration: none;
    padding: 8px 12px;
}

  

div a:link a:visited{
    color: white;

}

a:hover{
    color: #f7b600;
    background-color: white;
    padding: 8px 12px;
}


/*Área principal*/

div#area-principal{
    width: 920px;
    margin: auto;
}

div#area-postagens{
    width: 660px;
    float: left;

}

div#area-lateral{
    width: 240px; /*660 + 240 = 900px, quase do tamanho da área principal*/
    float: right;
    
}

#area-lateral, #area-postagens{
    background-color: orange;
}

.postagem{
    padding: 20px;
    margin-bottom: 20px;
    background: white;
}

#rodape{
    clear: both; /*remover o fluxo dos elementos flutuantes*/
    text-align: center;
    padding: 15px;
    background-color: #CCC;
}
